html {
  font-size: 16px;
  font-family: 'Roboto' sans-serif;

}

h1 {
  font: 1rem;
  font-weight: bold;
}

p {
  color: gray;
  font-size: 1.5rem;
}

.container {
margin-top: 2rem;
margin-bottom: 2rem;
}

.btn {
    background-color: #007bc1;
}
